@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
  background: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bitter', serif;
  overflow: hidden;
}

:root {
  --sendingColor: #0cf;
  --scale: 3;
  --bgColor: #0cf;
  --color: #212121;
}

button,
.send {
  font-family: 'Bitter', serif;
  border: none;
  background: none;
  color: #0cf;
  font-size: 24px;
  font-style: italic;
  margin-left: 1rem;
  transition: padding 0.3s ease-in-out;
}

.submit {
  display: flex;
  align-items: center;
  width: max-content;
  height: max-content;
  position: relative;
  clip-path: inset(0 0 0 0);
  transform: scale(var(--scale));
}

.send {
  position: absolute;
  transform: translatey(100%);
  transition: all;
  width: 100%;
}

.submit:hover .submit_arrow {
  opacity: 1;
  transform: translateX(0);
}


.submit:hover button {
  padding-left: 1rem;
  transition-delay: 300ms;
}

.submit_shapes {
  display: flex;
  align-items: center;
  width: calc(100% - 4px);
  overflow: hidden;
  position: relative;
  clip-path: inset(0 0 0 0);
  height: 2rem;
  width: 12rem;
}

.submit_arrow {
  --width: 5px;
  --height: 7px;
  z-index: 6;
  position: absolute;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--width) 0 var(--width) var(--height);
  border-color: transparent transparent transparent var(--bgColor);
  opacity: 1;
}

.bg_arrow {
  --width: 20px;
  --height: 15px;
  z-index: 5;
  position: absolute;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--width) 0 var(--width) var(--height);
  border-color: var(--color);
  opacity: 1;
}

.submit_loader {
  --width_loader: 5%;
  --height_loader: 9px;
  content: '';
  display: block;
  position: absolute;
  width: var(--width_loader);
  height: var(--height_loader);
  background: var(--sendingColor);
  transition: width 0.6s 0.3s ease-in-out;
  z-index: 4;
}

.submit_loader_2 {
  --width_loader: 5%;
  --height_loader: 9px;
  content: '';
  display: block;
  position: absolute;
  width: var(--width_loader);
  height: var(--height_loader);
  background: var(--sendingColor);
  transition: width 0.6s 0.3s ease-in-out;
  z-index: 4;
}



.button_clicked button {
  padding-left: 0 !important;
}

.button_clicked button {
  color: var(--sendingColor);

}